{% load static %}
<nav class="navbar">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
            <a class="navbar-brand" href="/">DescuentoGas</a>
            
            <ul class="navbar-nav d-flex gap-2" style="list-style: none; margin: 0;">
                <li><a class="nav-link" href="/">Inicio</a></li>
                <li><a class="nav-link" href="{% url 'ingresar_solicitud' %}">Ingresar Solicitud</a></li>
                
                {% if user.is_authenticated %}
                    {% if user.groups.all.0.name == 'Administrador' %}
                        <li><a class="nav-link" href="{% url 'administrar_solicitudes' %}">Administrar Solicitudes</a></li>
                        <li><a class="nav-link" href="{% url 'listar_usuarios' %}">Gestión de Usuarios</a></li>
                    {% elif user.groups.all.0.name == 'Vendedor' %}
                        <li><a class="nav-link" href="{% url 'buscar_solicitud_vendedor' %}">Buscar Solicitud</a></li>
                    {% endif %}
                    
                    <li><a class="nav-link" href="{% url 'perfil_usuario' %}">Mi Perfil</a></li>
                    <li><a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                {% else %}
                    <li><a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
